body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;

  .app-header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 2px #9e9e9e;

    &__logo {
      width: 32px;
      height: 32px;
      margin-right: 6px;
    }

    &__title {
      flex: 1;
      color: #424242;
      font-size: 16px;
    }

    &__user-info {
      color: #616161;
    }

    &__sign-in {
    }
  }

  .app-content {
    background-color: #ffffff;
  }

  .app-sider {
    border-right: 1px solid #eeeeee;
  }
}
